.button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  border-radius: 15px;
  background-color: #f8fafc;
  color: #303150;
  cursor: pointer;
}
